%li.list-group-item
  = link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger pull-right"
  %h6.list-group-item-heading
    = comment.author.name
  %p.list-group-item-text
    = comment.body
