= render "comments/base_comment", comment: comment
- if can? :create, Comment
  .media.hidden
    .media-left.gutter
    .media-body
      = render "comments/form", parent: comment.id, placeholder: "Reply"
- comment.replies do |reply|
  .media
    .media-left.gutter
    .media-body
      = render "comments/base_comment", comment: reply
      - if can? :create, Comment
        .media.hidden
          .media-left.gutter
          .media-body
            = render "comments/form", parent: reply.id, placeholder: "Reply"
