= render partial: "posts/post", object: present(@post)
%ul.media-list
  - if can? :create, Comment
    %li.media
      .media-body
        = render "comments/form", parent: nil, placeholder: "Comment"
  - present(@post).comments do |comment|
    %li.media{name: "comments"}
      .media-body
        = render "comments/comment", comment: comment