= render partial: "posts/post", object: @presenter
%ul.media-list
  - if current_user
    %li.media
      .media-body
        = render "comments/form", parent: nil, placeholder: "Comment"
  - @presenter.comments do |comment|
    %li.media{name: "comments"}
      .media-body
        = render "comments/comment", comment: comment