= render partial: "posts/post", object: @presenter
%ul.list-group
  - if current_user
    %li.list-group-item
      = render "comments/form"
  - @presenter.comments do |comment|
    = render "comments/comment", comment: comment